#banner{
	border-bottom: 2px groove black;
	height: 50px;
	font-family: title;
	font-size: 50px;
	margin-bottom: 40px;
	color: yellow;
}
body{
	background-image:url("../css/images/campo4.jpg"); 
	background-repeat: no-repeat;
	overflow:auto;
	position:absolute;
	
	}
  


#main{
	font-family: main;
	font-size: 20px;
	color: yellow;
}
a{
	color: yellow;
}
a:hover{
	color:red;
}
@font-face {
    font-family: title;
    src: url("../css/font/font.otf");
    font-weight:800;
}

@font-face {
    font-family: main;
    src: url("../css/font/Lobster.otf");
    font-weight:800;
}