137
a:4:{s:8:"template";a:1:{s:15:"registrati.html";b:1;}s:9:"timestamp";i:1436795955;s:7:"expires";i:1436799555;s:13:"cache_serials";a:0:{}}<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Registrazione FantaConTe</title>
    
    
    
    
        <link rel="stylesheet" href="assets/css/style.css">

    
    
    
  </head>

  <body>

    <div class="wrapper">
	<div class="container">
	    <h1><font color=green>Fanta</font><font color=white>Con</font><font color=red>Te</font></h1>
		<h2>Benvenuto nel modulo di registrazione</h2>
		
		<form class="form">
			<input type="text" placeholder="Nome Utente">
			<input type="password" placeholder="Password">
			<input type="password" placeholder="Ripeti Password">
			<input type="password" placeholder="Email">
			<li><a href="registrati.html" class="button">Registrati</a></li>
			<button type="submit" id="reg-button">Registrati</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>